
<div class="center" *ngIf="storesImagesSrcLoaded | async">
  <div class="row">
    <div class="column">
      <a rel="noopener" [routerLink]="['/gifts']" routerLinkActive="active">
        <ng-container *ngIf="giftsCategoryOpen; else elseTemplate1">
            <img src="{{storesImagesSrc.gifts.open}}">
        </ng-container>
        <ng-template #elseTemplate1>
            <img src="{{storesImagesSrc.gifts.sleep}}">
        </ng-template>
      </a>
    </div>
    <div class="column">
      <a rel="noopener" [routerLink]="['/restaurants']" routerLinkActive="active">
        <ng-container *ngIf="restaurantsCategoryOpen; else elseTemplate2">
            <img src="{{storesImagesSrc['restaurants'].open}}">
        </ng-container>
        <ng-template #elseTemplate2>
            <img src="{{storesImagesSrc['restaurants'].sleep}}">
        </ng-template>
      </a>
    </div>
    <div class="column">
      <a rel="noopener" [routerLink]="['/snacks']" routerLinkActive="active">
        <ng-container *ngIf="snacksCategoryOpen; else elseTemplate3">
            <img src="{{storesImagesSrc['snacks'].open}}">
        </ng-container>
        <ng-template #elseTemplate3>
            <img src="{{storesImagesSrc['snacks'].sleep}}">
        </ng-template>
      </a>
    </div>
    <div class="column">
      <a rel="noopener" [routerLink]="['/wonders']" routerLinkActive="active">
        <ng-container *ngIf="wondersCategoryOpen; else elseTemplate4">
            <img src="{{storesImagesSrc.wonders.open}}">
        </ng-container>
        <ng-template #elseTemplate4>
            <img src="{{storesImagesSrc.wonders.sleep}}">
        </ng-template>
      </a>
    </div>
  </div>
</div>
