<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="header middle">
  <h1>
    <a [routerLink]="['/home']" routerLinkActive="active">
      <span class="middle">
        Simple application
        <img width="100" alt="Search our categories and get the best local stores using a simple application" src="../assets/jpgs/glovo_400x400.jpg">
      </span>
    </a>
  </h1>
</div>
<h2>Our categories </h2>
<ul>
  <li>
    <h2><a rel="noopener" [routerLink]="['/gifts']" routerLinkActive="active">Gifts</a></h2>
  </li>
  <li>
    <h2><a rel="noopener" [routerLink]="['/restaurants']" routerLinkActive="active">Restaurants</a></h2>
  </li>
  <li>
    <h2><a rel="noopener" [routerLink]="['/snacks']" routerLinkActive="active">Snacks</a></h2>
  </li>
  <li>
    <h2><a rel="noopener" [routerLink]="['/wonders']" routerLinkActive="active">Wonders</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
